
.form-box {
  max-width: 400px;
}

.btn-gamer {
  background-color: #39FF14;
  color: #000;
  font-weight: bold;
  border: none;
  transition: 0.2s;
}

.btn-gamer:hover {
  background-color: #32cc10;
}

a {
  color: #39FF14;
}

a:hover {
  color: #32cc10;
}

input.form-control {
  background-color: #1c1c1c;
  color: white;
  border: 1px solid #39FF14;
}

input.form-control::placeholder {
  color: #aaa;
}
